In [266]:
""""
    AQUI SE UTILIZO UN CSV
    
    Son las notas finales de un curso X"""
import pandas as pd
df=pd.read_csv("Notas.csv")
df

,id,nombre,apellido,email,gender,final grade
0,1,Keriann,Winspear,kwinspear0@bloglines.com,Female,42
1,2,Enrichetta,Wallhead,ewallhead1@wsj.com,Polygender,81
2,3,Bram,Jozwicki,bjozwicki2@alexa.com,Male,96
3,4,Neilla,Ducroe,nducroe3@mail.ru,Female,68
4,5,Susanetta,Bracknell,sbracknell4@acquirethisname.com,Female,87
5,6,Marquita,Chillcot,mchillcot5@blogger.com,Female,59
6,7,Byram,Brammall,bbrammall6@hugedomains.com,Male,54
7,8,Hazel,Sowood,hsowood7@nbcnews.com,Male,56
8,9,Glynn,Stodhart,gstodhart8@timesonline.co.uk,Male,40
9,10,Maurizio,Addison,maddison9@mapquest.com,Male,88
10,11,Christina,Moses,cmosesa@macromedia.com,Female,87
11,12,Lanette,McMillan,lmcmillanb@yelp.com,Non-binary,63
12,13,Kelley,Happert,khappertc@reference.com,Male,66
13,14,Kermie,MacQuarrie,kmacquarried@economist.com,Male,47
14,15,Melisande,Blune,mblunee@sina.com.cn,Female,95
15,16,Fredi,Juniper,fjuniperf@mozilla.org,Female,95
16,17,Gates,Ayrton,gayrtong@bigcartel.com,Female,60
17,18,Debora,Parffrey,dparffreyh@aol.com,Agender,48
18,19,Bronny,Windows,bwindowsi@cloudflare.com,Male,59
19,20,Laurent,Sherlaw,lsherlawj@t.co,Agender,60
20,21,Neville,Semrad,nsemradk@washington.edu,Male,89
21,22,Solly,De Rye Barrett,sderyebarrettl@mediafire.com,Male,40
22,23,Norine,Ingarfield,ningarfieldm@technorati.com,Female,56
23,24,Petronia,Zapata,pzapatan@opensource.org,Female,96
24,25,Blair,Dowding,bdowdingo@webs.com,Female,75
25,26,Ginger,Schiefersten,gschieferstenp@samsung.com,Male,59
26,27,Denys,Laimable,dlaimableq@photobucket.com,Male,70
27,28,Kristel,Tiron,ktironr@cnbc.com,Female,90
28,29,Sawyer,Coster,scosters@apple.com,Male,83
29,30,Cherie,Lackham,clackhamt@people.com.cn,Female,52
30,31,Thomasina,Giacomo,tgiacomou@ftc.gov,Female,92
31,32,Alano,Guest,aguestv@delicious.com,Male,63
32,33,Maggy,Triggle,mtrigglew@creativecommons.org,Female,82
33,34,Analise,Teml,atemlx@bigcartel.com,Female,92
34,35,Cindy,Croke,ccrokey@vistaprint.com,Female,80
35,36,Brandi,Mallia,bmalliaz@prweb.com,Female,94
36,37,Bucky,Pettiford,bpettiford10@seesaa.net,Male,100
37,38,Norry,Rothera,nrothera11@lycos.com,Female,65
38,39,Kayley,Stryde,kstryde12@drupal.org,Female,72
39,40,Pat,Brocks,pbrocks13@eventbrite.com,Female,75
40,41,Raychel,Rosenauer,rrosenauer14@shutterfly.com,Female,56
41,42,Jackson,Caswell,jcaswell15@webs.com,Male,76
42,43,Sheridan,Daenen,sdaenen16@cloudflare.com,Male,71
43,44,Drew,Izzat,dizzat17@liveinternet.ru,Male,66
44,45,Addi,Tute,atute18@goo.gl,Female,89
45,46,Honoria,Mattys,hmattys19@joomla.org,Non-binary,68
46,47,Nicolas,McCord,nmccord1a@delicious.com,Male,83
47,48,Lay,Garci,lgarci1b@mozilla.org,Male,94
48,49,Tamara,Matzkaitis,tmatzkaitis1c@utexas.edu,Female,66
49,50,Giacopo,Ivel,givel1d@disqus.com,Male,89

In [267]:
"""Se necesita conocer la media de calificacion para conocer el rendimiento de cada la seccion en general"""

print("Promedio")
df['final grade'].mean()

Promedio

72.68

In [268]:
"""Se desea conocer los cinco estudiantes con mejor calificacion del curso para darles una beca estudiantil"""

df.sort_values(by=['final grade'],ascending=False).head()

    id     nombre   apellido                    email  gender  final grade
36  37      Bucky  Pettiford  bpettiford10@seesaa.net    Male          100
2    3       Bram   Jozwicki     bjozwicki2@alexa.com    Male           96
23  24   Petronia     Zapata  pzapatan@opensource.org  Female           96
15  16      Fredi    Juniper    fjuniperf@mozilla.org  Female           95
14  15  Melisande      Blune      mblunee@sina.com.cn  Female           95

In [269]:
""""Se desea conocer el porcentaje de estudiantes por genero en el curso"""

df1 = (df.groupby(['gender'])['gender'].count()/df.id.count())*100
df1

gender
Agender        4.0
Female        48.0
Male          42.0
Non-binary     4.0
Polygender     2.0
Name: gender, dtype: float64

In [270]:
""""Se desea saber el porcentaje de estudiantes aprobados"""

aprobados=(df['final grade'][df['final grade']>=65].count()/df.id.count())*100
reprobados=(df['final grade'][df['final grade']<65].count()/df.id.count())*100

tabRend={
    'aprobados':[aprobados],
    'reprobados': [reprobados]
}

tr=pd.DataFrame(tabRend)
print('Porcentaje % de aprobados/reprobados')
tr

Porcentaje % de aprobados/reprobados

   aprobados  reprobados
0       66.0        34.0

In [271]:
"""
   AQUI SE UTILIZO UN JSON
   
   El contexto de esta informacion que quiero trabajar es sobre los graduados de un periodo X en un pais Y, y supongamos que las 
   universidades son de un solo pais con grandes cantidades de extranjeros, porque mockaroo no tenia algo tan especifico 
   entonces las que salen son globales. Ademas el join no es consistente porque los dos archivos se generaron aleatorio y de 
   1000 univeridades que tiene el json vs 200 graduados solo hicieron match 19. Quitando el Dataframe de Universidades.Json 
   no habra tanto problema(si lo quiere probar para que funcione mejor)"""
  
"""dfJson=pd.read_json("Graduados.json")"""

dfJson1=pd.read_json("Graduados.json")
dfJson2=pd.read_json("Universidades.json")

dfJson = pd.merge(dfJson1, dfJson2, how='inner', on='college' )
dfJson

,id_x,nombre,apellido,email,gender,college,graduation rate,age,nationality,id_y,price
0,21,Nickie,Lamberton,nlambertonk@about.com,Female,Aichi Institute of Technology,73,28,Potawatomi,825,$203229.44
1,68,Joanie,Slesser,jslesser1v@feedburner.com,Female,Aichi Institute of Technology,70,22,Central American,825,$203229.44
2,36,Viviyan,Phoenix,vphoenixz@amazonaws.com,Female,Honam University,83,36,Laotian,353,$184300.84
3,36,Viviyan,Phoenix,vphoenixz@amazonaws.com,Female,Honam University,83,36,Laotian,576,$30092.95
4,38,Berty,Jenkins,bjenkins11@360.cn,Male,Newports Institute of Communication & Economics,70,31,Sioux,127,$58558.18
5,41,Row,Carson,rcarson14@biglobe.ne.jp,Female,Shonan Institute of Technology,83,38,Colombian,918,$88447.92
6,44,Jenilee,Looks,jlooks17@eepurl.com,Genderfluid,Singapore Management University,71,36,Peruvian,487,$297798.77
7,46,Pace,Dennehy,pdennehy19@mediafire.com,Male,"California State University, Sacramento",85,32,Salvadoran,855,$70853.51
8,54,Bert,Noore,bnoore1h@diigo.com,Male,Coe College,91,27,Iroquois,944,$127905.39
9,58,Sollie,Soldi,ssoldi1l@e-recht24.de,Male,Oman College Of Management & Technology,84,22,Korean,993,$123558.77
10,65,Kerwin,Dauber,kdauber1s@google.com.au,Male,Universidad del Norte,86,28,Houma,829,$281468.17
11,71,Stan,Bullers,sbullers1y@blogspot.com,Male,University of Colorado at Colorado Springs,85,39,Indonesian,763,$64522.78
12,84,Steffi,Frances,sfrances2b@jimdo.com,Female,Zhezkazgan Baikonurov University,77,38,Chilean,664,$247431.20
13,100,Monroe,Knobell,mknobell2r@theatlantic.com,Male,West Virginia State College,74,21,Paraguayan,318,$279552.87
14,115,Doug,Orford,dorford36@etsy.com,Non-binary,"Universidad Autónoma Agraria ""Antonio Narro""",99,23,Colville,303,$269347.03
15,144,Dominic,Dennett,ddennett3z@army.mil,Male,Universidad de Oriente,80,29,Chinese,197,$272248.93
16,144,Dominic,Dennett,ddennett3z@army.mil,Male,Universidad de Oriente,80,29,Chinese,786,$112543.04
17,166,Robenia,Unthank,runthank4l@is.gd,Female,Lyon College,74,37,Houma,514,$237811.68
18,169,Noland,Beeres,nbeeres4o@mail.ru,Male,Norway's Information Technology University Col...,79,35,Native Hawaiian,202,$175535.01
19,174,Ado,Passman,apassman4t@google.co.uk,Male,"St. Joseph's College New York, Suffolk Campus",96,25,Yaqui,280,$76360.29

In [272]:
"""Se desea conocer la el promedio de edad con la que se graduo esta promocion del periodo X"""

print("Edad promedio de graduacion")
dfJson['age'].mean()

Edad promedio de graduacion

30.6

In [273]:
"""Se desea saber el top 5 nacionalidades con mejor promedio academico de graduacion de este periodo X"""

dfJson[['nationality','graduation rate']].groupby(['nationality'])['graduation rate'].mean().sort_values(ascending=False).head(5)

nationality
Colville      99.0
Yaqui         96.0
Iroquois      91.0
Indonesian    85.0
Salvadoran    85.0
Name: graduation rate, dtype: float64

In [274]:
"""Se desean conocer las 3 universidades con mas graduados este periodo X 
   --Nota: Dado que solo hay 200 y demasiadas universidades puede que no cuenten con mas de 2 graduados por universidad
     por eso considero que con datos reales la pregunta tendria mas sentido  """

dfJson.groupby(['college'])['college'].count().sort_values(ascending=False).head(3)

college
Aichi Institute of Technology    2
Honam University                 2
Universidad de Oriente           2
Name: college, dtype: int64

In [275]:
""""Las 3 univerisdades mas caras (No funcional quitando el Dataframe con join, aunque tampoco con el funciona correctamente)"""
dfJson.sort_values(['price'],ascending=False)

,id_x,nombre,apellido,email,gender,college,graduation rate,age,nationality,id_y,price
5,41,Row,Carson,rcarson14@biglobe.ne.jp,Female,Shonan Institute of Technology,83,38,Colombian,918,$88447.92
19,174,Ado,Passman,apassman4t@google.co.uk,Male,"St. Joseph's College New York, Suffolk Campus",96,25,Yaqui,280,$76360.29
7,46,Pace,Dennehy,pdennehy19@mediafire.com,Male,"California State University, Sacramento",85,32,Salvadoran,855,$70853.51
11,71,Stan,Bullers,sbullers1y@blogspot.com,Male,University of Colorado at Colorado Springs,85,39,Indonesian,763,$64522.78
4,38,Berty,Jenkins,bjenkins11@360.cn,Male,Newports Institute of Communication & Economics,70,31,Sioux,127,$58558.18
3,36,Viviyan,Phoenix,vphoenixz@amazonaws.com,Female,Honam University,83,36,Laotian,576,$30092.95
6,44,Jenilee,Looks,jlooks17@eepurl.com,Genderfluid,Singapore Management University,71,36,Peruvian,487,$297798.77
10,65,Kerwin,Dauber,kdauber1s@google.com.au,Male,Universidad del Norte,86,28,Houma,829,$281468.17
13,100,Monroe,Knobell,mknobell2r@theatlantic.com,Male,West Virginia State College,74,21,Paraguayan,318,$279552.87
15,144,Dominic,Dennett,ddennett3z@army.mil,Male,Universidad de Oriente,80,29,Chinese,197,$272248.93
14,115,Doug,Orford,dorford36@etsy.com,Non-binary,"Universidad Autónoma Agraria ""Antonio Narro""",99,23,Colville,303,$269347.03
12,84,Steffi,Frances,sfrances2b@jimdo.com,Female,Zhezkazgan Baikonurov University,77,38,Chilean,664,$247431.20
17,166,Robenia,Unthank,runthank4l@is.gd,Female,Lyon College,74,37,Houma,514,$237811.68
1,68,Joanie,Slesser,jslesser1v@feedburner.com,Female,Aichi Institute of Technology,70,22,Central American,825,$203229.44
0,21,Nickie,Lamberton,nlambertonk@about.com,Female,Aichi Institute of Technology,73,28,Potawatomi,825,$203229.44
2,36,Viviyan,Phoenix,vphoenixz@amazonaws.com,Female,Honam University,83,36,Laotian,353,$184300.84
18,169,Noland,Beeres,nbeeres4o@mail.ru,Male,Norway's Information Technology University Col...,79,35,Native Hawaiian,202,$175535.01
8,54,Bert,Noore,bnoore1h@diigo.com,Male,Coe College,91,27,Iroquois,944,$127905.39
9,58,Sollie,Soldi,ssoldi1l@e-recht24.de,Male,Oman College Of Management & Technology,84,22,Korean,993,$123558.77
16,144,Dominic,Dennett,ddennett3z@army.mil,Male,Universidad de Oriente,80,29,Chinese,786,$112543.04